<mat-drawer-container class="example-container" [hasBackdrop]="true">

  <mat-drawer class="side-drawer" #drawer mode="side" [(opened)]="opened" (opened)="events.push('open!')">
    <div class="drawer-div">
    <button mat-button class="drawer-button">Agregar personas</button>
    
    </div>

  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span>IPS Software</span>
      <span class="spacer"></span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    
  </mat-drawer-content>

</mat-drawer-container>






