<mat-drawer-container class="example-container" [hasBackdrop]="true">

  <mat-drawer class="side-drawer" #drawer mode="side" [(opened)]="opened" (opened)="events.push('open!')">
    <div class="drawer-div">
    <button mat-button class="drawer-button" (click)="this.router.navigate(['home'])">Home</button>
    <button mat-button class="drawer-button" (click)="this.router.navigate(['personas'])">Personas</button>
    <button mat-button class="drawer-button" (click)="this.router.navigate(['agenda'])">Agenda</button>
    <button mat-button class="drawer-button" (click)="this.router.navigate(['medicamentos'])">Medicamentos</button>
    <button mat-button class="drawer-button" (click)="this.router.navigate(['sedes'])">Sedes</button>
    <button mat-button class="drawer-button" (click)="this.router.navigate(['terapias'])">Terapias</button>
    
    </div>

  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span>IPS Software</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>

  
  </mat-drawer-container>







