<mat-drawer-container class="example-container" [hasBackdrop]="true">

  <mat-drawer #drawer mode="side" [(opened)]="opened" (opened)="events.push('open!')">
    Aqui van las opciones
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span>IPS Software</span>
      <span class="spacer"></span>
    </mat-toolbar>
  </mat-drawer-content>

</mat-drawer-container>




