.spacer {
  flex: 1 1 auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-drawer {
  width: 15rem;

}

.drawer-div {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer-button {
  width: 100%;
}

