<h1 mat-dialog-title>Editar Consulta</h1>
<div mat-dialog-content>
  <form style="display: flex; justify-content: center">
            <table>
                <tr>
                    <td colspan=2>
                        <mat-form-field class="demo-full-width">
                             <mat-label>Sede</mat-label>
                            <input [disabled]="true" [(ngModel)]=consulta.nombreSede name="nombreSede" matInput placeholder="Sede">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                             <mat-label>Paciente</mat-label>
                            <input [disabled]="true" [(ngModel)]=consulta.nombrePaciente name="nombrePaciente" matInput placeholder="Paciente">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                             <mat-label>Medico</mat-label>
                            <input [disabled]="true" [(ngModel)]=consulta.nombreMedico name="nombreMedico" matInput placeholder="Medico">
                        </mat-form-field>
                    </td>
                </tr>

                  <tr [hidden]="true">
                      <td colspan=2>
                         <mat-form-field class="demo-full-width">
                         <mat-label>Tratamiento</mat-label>
                          <mat-select [(ngModel)]=consulta.idTratamiento name="idTratamiento">
                            <mat-option *ngFor="let tratamiento of tratamientos" [value]="tratamiento.id">
                              {{tratamiento.id}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>

                  </tr>

                  <tr>
                    <td colspan=2>
                        <mat-form-field class="demo-full-width">
                        <mat-label>Fecha</mat-label>
                            <input matInput [disabled]="true" [(ngModel)]=consulta.fecha name="fecha" [matDatepicker]="picker" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                	<td colspan=2>
                    <mat-form-field class="demo-full-width">
                      <mat-label>Sintomas</mat-label>
                      <textarea matInput [(ngModel)]=consulta.sintomas name="sintomas" placeholder="Describa los sintomas"></textarea>
                    </mat-form-field>
                  </td>
                </tr>

                <tr>
                	<td colspan=2>
                    <mat-form-field class="demo-full-width">
                      <mat-label>Diagnositco</mat-label>
                      <textarea matInput [(ngModel)]=consulta.diagnostico name="diagnostico" placeholder="Describa su diagnostico"></textarea>
                    </mat-form-field>
                  </td>
                </tr>

                <tr>
                    <td colspan="2" class="content-center">
                      <div class="example-button-container">
                        <button  mat-flat-button color="primary">Enviar</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>

</div>